<h3>Register Apps (<%= @register_apps.count %>)</h3>
<% @register_apps.each do |app| %>
  <ol class="microposts">
    <li>
      <h3><b><%=link_to app[:name],app%></b></h3>
      <div >
        <% if app[:status]=="running" %>
          <font color="green">running</font>
        <%elsif app[:status]=="stop"%>
          <font color="red">stop</font>
        <%else%>
          <font color="#EA7500"><%=app[:status]%></font>
        <%end%>
      </div>
      
      <span class="timestamp">
        usage: <%=app[:memory_limit]%>*<%=app[:instance]%>
      </span>
      <div class="timestamp">
        urls: <a href="http://<%=app[:domain]%>" target="_blank"><%=app[:domain]%></a>
      <div>
      <div>
      <%= link_to "delete", app_path(app[:name]), 
            method: :delete, data: { confirm: 'You sure?' } %>
      </div>
    </li>
  </ol>
<% end %>