
<div >
  <h3><%=function["name"]%></h3>
</div>
<div></div>
<div style="line-height:200%">
  <span class="timestamp" style="line-height:150%">参数:</span> 
  <%=function["params"]%>
</div>
<div style="line-height:200%">
  <div class="timestamp" style="line-height:150%">描述:</div> 
  <div style="line-height:150%">
    <%=function["info"]%>
  </div>
</div>
<div style="line-height:200%">
  <div class="timestamp" style="line-height:150%">返回值:</div> 
  <div style="line-height:150%">
    <%=function["return"]%>
  </div>
</div>
<div style="line-height:200%">
  <div class="timestamp" style="line-height:150%">示例:</div> 
  <div style="line-height:150%">
    <%=function["example"]%>
  </div>
</div>